.carousel{
    // position: relative;
    margin-top: 125px;
    position:inherit;
}
.carousel-inner{
    position: inherit;
}
.carousel-item{
    position: inherit;
    transition: none;
}
.carousel-indicators{
    bottom: 20%;
}
.carousel-control-prev {
    // bottom: 30%;
}
.carousel-control-next {
    // bottom: 30%;
}