.main-content{
    display: grid;
    margin-top: 140px;
    background: #ffffff;
    padding: 0px 300px;
    text-align: center;
    min-height: 196px;
    color: #3d4246;
.row_item{
    display: flex;
    flex-direction: row;
    .item_border{
        border-radius: 12px;
    border: 1px solid black;
    padding: 16px;
    }
}

}